@mixin tablet {
  @media (min-width: 1280px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}

ul,
li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: black;
}

.container {
  max-width: 375px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(216, 12%, 8%);
  padding: 25px 30px 25px 25px;
  border-radius: 5%;

  @include tablet {
    border-radius: 8%;
  }
}

.rating__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: hsl(213, 19%, 18%);
  border: 1px solid rgb(27, 3, 3);
  list-style-type: none;
}

// .rating__icon:hover {
//   background-color: hsl(216, 12%, 54%);
// }

.rating__title {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.rating__text {
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  margin-top: 20px;
}

.rating__items {
  display: flex;
  justify-content: space-between;

  &__link:not(:last-child) {
    margin-right: 20px;
  }
}

.rating__item {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
  text-decoration: none;
  list-style-type: none;
  margin-top: 20px;
  cursor: pointer;
}

.rating__item:hover {
  background-color: hsl(216, 12%, 54%);
}

.rating__item:focus {
  background-color: hsl(25, 97%, 53%);
}

.rating__number {
  position: absolute;
}

input[type="radio"] {
  appearance: none;
}

.js-btn {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  width: 100%;
  border-radius: 30px;
  padding: 1rem 1rem;
  display: block;
  margin-top: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border: none;
  cursor: pointer;
}

.js-btn:hover,
.js-btn:focus {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

//result-box

// .result-box {
//   max-width: 375px;
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;
//   justify-content: center;
// }
.result-icon {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.result-box {
  display: inline-block;
  margin-left: 80px;
  border-radius: 30px;
  padding: 0.5rem 0.5rem;
  margin-top: 30px;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
  text-align: center;
}
.result-current {
  padding-left: 5px;
}
.result-title {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.result-text {
  text-align: center;
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 8px;
  margin-top: 20px;
  color: hsl(217, 12%, 63%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
