* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}

ul,
li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: black;
}

.container {
  max-width: 375px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #121417;
  padding: 25px 25px 20px;
  border-radius: 10%;
}

.raiting__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #252d37;
  border: 1px solid #1b0303;
  list-style-type: none;
}

.raiting__title {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.raiting__text {
  color: #959eac;
  font-weight: 400;
  margin-top: 20px;
}

.raiting__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.raiting__items__link:not(:last-child) {
  margin-right: 20px;
}

.raiting__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #959eac;
  background-color: #252d37;
  text-decoration: none;
  list-style-type: none;
  margin-top: 20px;
  cursor: pointer;
}

.raiting__item:hover {
  background-color: #7c8798;
}

.raiting__item:focus {
  background-color: #fb7413;
}

.raiting__number {
  position: absolute;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.js-btn {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  width: 100%;
  border-radius: 30px;
  padding: 1rem 1rem;
  display: block;
  margin-top: 20px;
  color: white;
  background-color: #fb7413;
  border: none;
  cursor: pointer;
}

.js-btn:hover,
.js-btn:focus {
  color: #fb7413;
  background-color: white;
}

.result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-box__icon {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.result-box__rating {
  display: inline-block;
  margin-left: 80px;
  border-radius: 30px;
  padding: 0.5rem 0.5rem;
  margin-top: 30px;
  color: #fb7413;
  background-color: #252d37;
  text-align: center;
}

.current {
  padding-left: 5px;
}

.result-box__title {
  text-align: center;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.result-box__text {
  text-align: center;
  color: #959eac;
  font-weight: 400;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 8px;
  margin-top: 20px;
  color: #959eac;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */