* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}

ul,
li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-color: hsl(216, 12%, 8%);
  padding: 30px;
  border-radius: 10%;
}

.selection {
}

.selection__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: hsl(213, 19%, 18%);
  border: 1px solid rgb(27, 3, 3);
  list-style-type: none;
  //   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   .row-selection {
  //     fill: ;
  //   }
}

.selection__icon:hover {
  background-color: hsl(216, 12%, 54%);
}

.selection__title {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.selection__text {
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  margin-top: 20px;
}

.selection-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  &__link:not(:last-child) {
    margin-right: 20px;
  }
}
.selection-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
  text-decoration: none;
  list-style-type: none;
  margin-top: 20px;
}

.selection-list__link:hover {
  background-color: hsl(216, 12%, 54%);
}

.selection-list__link:focus {
  background-color: hsl(25, 97%, 53%);
}

.js-btn {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  width: 100%;
  border-radius: 30px;
  padding: 1rem 1rem;
  display: block;
  margin-top: 30px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border: none;
  cursor: pointer;
}

.js-btn:hover,
.js-btn:focus {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

//rating-box
.result-box__icon {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.result-box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.result-box__rating {
  margin-top: 20px;
  color: hsl(25, 97%, 53%);
  text-align: center;
}

.result-box__title {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.result-box__text {
  text-align: center;
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 8px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
